* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.nav__wrapper {
    padding: 24px 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: black;
    color: white;
}


.nav__logo {
    width: 200px;
}

.nav__list {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    z-index: 1;
    position: sticky;
    top: -10px;
    background-color: black;
    backdrop-filter: blur(10);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    animation: headMove 1.3s ease-in-out forwards;
}

@keyframes headMove {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

.nav__ul {
    display: flex;
    gap: 32px;
}

.nav__list {
    color: white;
}

.nav__list:hover {
    color: rgba(255, 255, 255, 0.685);
    text-decoration: underline;

}

.hero__hi {
    font-size: 91px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero__myphoto {
    width: 300px;
    border-radius: 16px;
    transition: 1.0s;
}

.hero__myphoto:hover {
    box-shadow: rgba(255, 3, 3, 0.76) 0px 54px 55px,
            rgb(187, 255, 0) 0px -12px 30px,
            rgb(60, 105, 2) 0px 4px 6px,
            rgba(246, 124, 1, 0.17) 0px 12px 13px,
            rgb(121, 153, 3) 0px -3px 5px;
}


.hero__myphoto:hover {
    transform: scale(1.1);
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__a {
    color: #C7C7C7;
}

.hero__btn {
    background-color: #D3E97A;
    padding: 11px 61px 11px 15px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.hero__btn:hover {
    border: none;
    background-color: #cde865;
}

.hero__ingi {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__insta {
    width: 44px;
    padding-top: 40px;
    transition: 1.1s;
}

.hero__insta:hover {
    transform: scale(1.1);
}


.hero__btnn {
    background-color: black;
    border: none;
    cursor: pointer;
}

.hero__github {
    width: 44px;
    padding-top: 40px;
}

.vhr {
    color: gray;
    margin-top: 100px;
}

.main__img {
    margin-top: 100px;
    width: 400px;
    border-radius: 16px;
    transition: 1.1s;
}

.main__img:hover {
    transform: scale(1.1);
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
            rgba(244, 124, 4, 0.12) 0px -12px 30px,
            rgba(255, 111, 1, 0.12) 0px 4px 6px,
            rgba(246, 124, 1, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__about {
    font-size: 80px;
}

.main__more {
    border: none;
    background-color: black;
    color: #D3E97A;
    cursor: pointer;
    text-decoration: underline;
}

.main__more:hover {
    background-color: black;
    color: #D3E97A;
    border: none;
}

.main__hi {
    font-size: 22px;
}

.main__aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}



.myclass__mates {
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}

.myclass__sardor {
    width: 300px;
    border-radius: 16px;
}

.myclass__ssardor {
    font-size: 22px;
    text-align: center;
}

.myclass__card {
    width: 300px;
    margin-top: 100px;
    border-radius: 17px;
    transition: 1.1s;
}

.myclass__card:hover {
    transform: scale(1.1);
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
            rgba(244, 124, 4, 0.12) 0px -12px 30px,
            rgba(255, 111, 1, 0.12) 0px 4px 6px,
            rgba(246, 124, 1, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.myclass__cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.pro__img {
    width: 600px;
    background-color: gray;
    padding: 100px 50px;
    border-radius: 12px;
}

.pro__git {
    margin-top: 20px;
}

.pro__live {
    margin-top: 20px;
}


.pro__pre {
    width: 486px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: white;
}

.pro__p {
    font-size: 76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
}

.pro__card {
    padding-top: 50px;
    display: flex;
    gap: 100px;
}

.pro__here {
    color: #C7C7C7;
    font-size: 16px;
}

.pro__promo {
    font-size: 32px;
}

.pro__p2 {
    padding-top: 140px;
}

.pro__ny {
    display: flex;
    gap: 400px;
}

.hr {
    width: 500px;
}

.pro__th {
    color: #C7C7C7;
}

.pro__hr {
    padding-top: 20px;
}

.pro__git {
    background-color: black;
    color: #D3E97A;
    border: none;
    cursor: pointer;
}

.pho__skill {
    font-size: 32px;
    text-align: center;
    padding-top: 100px;
}

.pho__html {
    width: 100px;
    cursor: pointer;
    transition: 1.1s;
}

.pro__ny {
    padding-top: 10px;
}

.pho__html:hover {
    transform: scale(1.1);
}

.pho__skills {
    padding-top: 100px;
}

.pho__p {
    color: blue;
}

.pho__p1 {
    padding-left: 40px;
}

.pho__skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.pho__htmll {
    width: 100px;
    cursor: pointer;
    transition: 1.1s;
    background-color: white;
    border-radius: 100px;
}


.pho__htmll:hover {
    transform: scale(1.1);
}

.fam__img {
    width: 500px;
    padding-top: 100px;
    transition: 1.1s;
    cursor: pointer;
}

.fam__img:hover {
    transform: scale(1.1);
    border-radius: 50%;
}

.fam__fam {
    font-size: 32px;
    text-align: center;
    padding-top: 100px;
}

.fam__p {
    font-size: 30px;
}

.fam__2 {
    display: flex;
    align-items: center;
    gap: 100px;
}

.foot__my {
    padding-top: 100px;
    font-size: 32px;
}

.foot__inp {
    background-color: rgba(128, 128, 128, 0.144);
    border: none;
}

.foot__let {
    font-size: 76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
}

.foot__say {
    color: #C7C7C7;
    padding-top: 16px;
}

.foot__giin {
    display: flex;
    align-items: center;
}

.foot__wrapper {
    padding-top: 100px;
    display: flex;
    gap: 50px;
}

.foot__inp {
    padding: 12px 506px 12px 15px;
    border-radius: 4px;
    margin-top: 14px;
}

.foot__lab {
    color: #C7C7C7;
    padding-top: 24px;
}

.foot__inp2 {
    padding: 12px 506px 100px 15px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.164);
    border: none;
}

.foot__btn {
    background-color: #D3E97A;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.foot__btn:hover {
    background-color: #d8f172;
    color: black;
    border: none;
}